@keyframes loading {
	to {
		transform: rotate(360deg);
	}

	from {
		transform: rotate(0deg);
	}
}

.search_container {
	--size: 3rem !important;
	flex: 1;
	min-width: 300px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	gap: 10px;
	overflow: none;
	height: calc(var(--size) + 2rem);
	width: 100%;
	padding: .8rem;

	.random {
		border: none;
		background-color: white;
		box-shadow: var(--box-shadow);
		border-radius: 100%;
		width: var(--size);
		height: var(--size);
		min-width: var(--size);
		min-height: var(--size);
		padding: 0px;
		font-size: 1.2rem;
		display: flex;
		justify-content: center;
		align-items: center;
		cursor: pointer;
		color: black;

		img {
			width: 20px;
			height: 20px;
		}

		&.loading {
			animation-name: loading;
			animation-duration: .5s;
			animation-iteration-count: infinite;
		}
	}

	.search {
		width: 100%;
		background-color: white;
		height: var(--size);
		box-shadow: var(--box-shadow);
		border-radius: 2.6em;
		padding: 0px 1rem;
		display: flex;
		align-items: center;


		form {
			height: 100%;
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: center;

			button {
				border: none;
				background-color: transparent;
				cursor: pointer;


				img {
					width: 20px;
					height: 20px;
					cursor: pointer;
				}
			}
		}

		input {
			width: 100%;
			height: 100%;
			outline: none;
			border: none;
			background-color: transparent;
			font-size: 1rem;
		}

	}
}